extends layout-base
- console.log('Current i18n language:' + i18n.lng())

append style
  //- Parent style block precedes the statements of those who extend from this
  link(rel='stylesheet', href='stylesheets/bootstrap-custom-theme.css')
  //-div
    if env.NODE_ENV == 'development'
      link(rel='stylesheet', href='/css/bootstrap.css')
    else
      link(rel='stylesheet', href='/css/bootstrap.min.css')
  //-div
    if env.NODE_ENV == 'development'
      link(rel='stylesheet', href='font-awesome/css/font-awesome.css')
    else
      link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
  //- Use 'less' dir to alter FA vars (such as @FontAwesomePath)
  link(rel='stylesheet', href='font-awesome/less/font-awesome.css')
  
  link(rel="stylesheet" href="stylesheets/style.css")

  link(rel="stylesheet" href="stylesheets/navbar.css")

append header
  //- Use .navbar-static-top to eliminate the border radius
     Use code .navbar-right to right-align link and dropdown
     Use code .pull-right in the right-aligned code .dropdown-menu so that the menu isn't cutoff
  nav.navbar.navbar-inverse.navbar-fixed-top
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Title
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active: a(href='#') Home
        //li: a(href='#') Link
        //li: a(href='#') Link
      //-form.navbar-form.navbar-left(role='search')
        .form-group
          input.form-control(type='text', placeholder='Search')
        button.btn.btn-default(type='submit') Submit
      ul.nav.navbar-nav.navbar-right
        li: a(href='/CV')= t('nav.CV')

        // Links to '/CV' are hard-coded, but I wish they were implied (while maintining flexible routing)
        li.dropdown#pick-language1
          button.btn(type='button', data-toggle='dropdown')
            div.dropdown-toggle
              - var svgpath = svg.ConvertToSVGPath(i18n.lng())
              //object(data=svgpath, type='image/svg+xml')
              img(src=svgpath, type='image/svg+xml')
          ul.dropdown-menu(role='menu')
            each val, index in svg.supportedLngs()
              li
                a.btn(href='#{currentUrl}?lang=#{val}')
                  - var svgpath = svg.ConvertToSVGPath(val)
                  //object(data=svgpath, type='image/svg+xml')            
                  img(src=svgpath, type='image/svg+xml')            

append content
  .container
    .row
      .col-md-3
        // .bs-sidebar class is locked to the width of the parent (in sidebar2.js)
        section.bs-sidebar.hidden-print(role='complementary')
          #toc

      .col-md-9(role='main')

append script
  //- Parent script block precedes the statements of those who extend/derive from this
  //-script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  //-script(src='http://code.jquery.com/jquery-latest.js')
  script(src='jquery/jquery.js')
  
  if env.NODE_ENV == 'development'
    script(src='js/bootstrap.js')
  else
    script(src='js/bootstrap.min.js')

  //-span
    if env.NODE_ENV == 'development'
      script(src='moment/min/moment-with-langs.js')
    else
      script(src='moment/min/moment-with-langs.min.js')

  //- Only server-side translations
  //-script(src='i18next/lib/i18next.js')
  
  script(src='javascripts/navbar.js')
