extends ../layout-with-sidebar
include ../mixins/common

append script
  //- This goes at the end (of rendering), even if it is at the top of this file
  //-script(src='http://cdn.dev.skype.com/uri/skype-uri.js')

  //- Configure the sidebar
  script(src="javascripts/Home.js")
  //script(src="javascripts/boot.js")
  script.
    $(document).ready(Home.boot);   

append content2
  title Daniel Olivier - Curriculum Vitae

  h1 Curriculum Vitae
  //+timestamp

  .row
    .col-md-6
      //- File offset if from the root, not the current file
      - var ci = JSON.parse(fs.readFileSync('./data/contactInfo.json', 'utf8'));
      +contactInfo(ci)

  .row
    .col-md-9
      section.panel.panel-primary#skills
        .panel-heading
          h2.panel-title Niveaux d’intervention :
        .panel-body
          table.table
            tbody
              tr
                td Analyse, conception et développement (C++, OOP)
              tr
                td Support aux utilisateurs
              tr
                td Grid computing, interopérabilité, optimisation

  .row
    .col-md-12
      - var ts = require2('./data/technicalSkills.js')
      +technicalSkills(ts.technicalSkills)

  .row
    .col-md-9
      section.panel.panel-primary#education
        .panel-heading
          h2.panel-title= i18n.t('app.education')
        .panel-body
          table.table.align-right
            tbody
              tr
                td: span.time-duration= dateHelpers.formatDate([1989, 9]) + ' - ' + dateHelpers.formatDate([1993, 5])
                td
                  p: span.company-name: a(href="http://www.polymtl.ca") École Polytechnique de Montréal
                  p= i18n.t('app.diploma')

  .row
    .col-md-12
      section.panel.panel-primary#work-history
        .panel-heading
          h2.panel-title= i18n.t('app.workhistory')
        .panel-body
          table.table.align-right
            thead
              tr
                th.col-md-2= i18n.t('app.workcolumn1')
                th.col-md-8= i18n.t('app.workcolumn2')
            tbody
              - var works = require1('./data/workExperiences.js').workExperiences
              +workExperience(works.sgcib)
                p Développement et optimisation en C++ d’une application distribuée d’analyse et de calcul de risque à destination des dérivés de taux
                ul
                  li Évolution du mode de caching des données (Market/Static data):
                  ul
                    li Intégration de nouvelles structures/nouveaux champs au schéma du cache
                    li Évolution et optimisation de la gestion de la configuration
                    li Modification de l’interface de Gigaspace en Java, C# et C++ pour assurer la rétrocompatibilité
                    li Recompilation du module d’accès C++ de Gigaspace en mode débug
                    li Déploiement d’un CacheProxy sur chaque nœud de la grille
                    li Debug en production (remote desktop sur grille de calcul, et/ou remote debug)
                    li Saisie et analyse de dumps mémoire et rapports de crash
                    li Étude des mécanismes de surveillance/gestion de la grille, d’outils de calcul distribués (Symphony, sites web internes)
                    li Support aux développeurs

                  li Développement d’un LoadService en C++ :
                  ul
                    li Développement d’un module générique d’accès au LoadService pour cacher les détails du code protobuf
                    li Recensement des appels à la BD cible
                    li Conversion des appels à la nouvelle interface C++
                    li Optimisation des connexions
                    li Adaptation du LoadService auprès d’une seconde BD cible
                    li Développement de nouvelles fonctionnalités en C++ (extension du système de types, …)
                    li Migration des requêtes SQL vers des procédures stockées côté-base
                    li Refactoring de code
                    li Traitement des anomalies
                    li Définition de rapports d’exécution via Boost Serialisation
                    li Réconciliation des divergences des résultats par rapport à la version de référence
                    li Réalisation de tests (unitaires/ performance)
                    li Support aux développeurs
                    li Charge sur la BD divisée par 5 ; suppression de 130 KLOC (sur un total de 1.5 MLOC)

              +workExperience(works.ifcs)
                h5 Projet 
                  span.company-name
                    a(href="http://www.tech-advantage.com/") Tech'Advantage
                    |, filiale de l'
                    a(href="http://www.ifp-school.com/") IFP (Institut Français du Pétrole)
                  |  :
                p Développement et optimisation (structure applicative et IHM) d'un logiciel d'inversion sismique (modélisation lithosphérique)
                p
                  em Environnement technique :
                  |  Linux (RH9, EL5), C++ (Eclipse + CDT), Ilog Views + librairies internes
                hr
                h5 Projet 
                  span.company-name: a(href="http://www.carestreamdental.com/") Trophy
                  |  :
                p Développement et optimisation d’une application en visualisation d’imagerie médicale (dentaire)
                p
                  em Environnement technique :
                  |  Visual C++, wxWidgets, VTK (moteur graphique)

              +workExperience(works.cmlabs)
                p Étude, développement et optimisation de la librairie Vortex – SDK en C++ permettant d’effectuer des simulations physiques (mécaniques) complexes
                ul
                  li Développement du moteur de simulation (C++, STL) et élaboration des scénarios de simulation
                    ul
                      li Ajout de nouveaux types d’équipement
                      li Optimisation du multithreading
                      li Développement des librairies de capteurs artificiels
                        ul
                          li Refactoring des modules existants
                          li Définition d’une nouvelle architecture
                          li Développement en C++ d’un sonar et d’une depth camera
                      li Utilisation de Boost (serialization) pour introduire la notion de persistance
                      li Utilisation des design patterns pour étendre les fonctionnalités de la librairie
                      li Optimisation des moteurs graphiques via les librairies OSG et VegaPrime
                        ul
                          li Amélioration de la qualité du rendu graphique
                          li Composition de scènes de simulation
                  li Développement de prototypes de simulateurs de grues
                    ul
                      li Élaboration des scénarios de simulation et paramétrage des équipements
                      li Implémentation couche réseautage (via mémoire partagée 
                        a(href="http://diverse.sourceforge.net/diverse/") DTK
                        |), permettant de distribuer la charge de calcul du simulateur
                      li Conception d'IHMs (WxWidgets, Qt)
                      li Ajout d’un module d’interfaçage de périphérique (
                        a(href="http://www.ni.com/data-acquisition/") NI-DAQ
                        |), head-tracker (
                        a(href="http://www.ascension-tech.com/realtime/rtflockofbirds.php") Flock of Birds
                        |)
                  li Responsable de la gestion de configuration
                    ul
                      li Gestion des codes sources
                      li Maintenance des scripts (multi-plateforme) d’automatisation et d'intégration
                      li Support technique

              +workExperience(works.timespring)
                p Conception et développement d’une application de backup incrémental
                ul
                  li Amélioration du module d’installation et de déploiement
                  li Optimisation de scripts de construction (Perl, VBScript)
                  li Incorporation de nouveaux outils de débugage (Quantify et Purify)

              +workExperience(works.visualmed)
                p Études et développement d’un logiciel de gestion des soins et médicaments (contre-indication)
                ul
                  li Gestion des procédures de construction (configuration et déploiement)
                  li Tests d’intégration et régression
                  li Étude et développement d’une passerelle Citrix (C++) pour authentification via un scanner d’empreintes digitales
                  li Support au développement

              +workExperience(works.rational)
                p Études et développement d’outils visuels de conception logicielle (UML)
                ul
                  li Optimisation des scripts du build et des tests d’intégration
                  li Analyses de performance
                  li Contrôle des versions et gestion des anomalies
                  li Support aux usagers internes (développeurs)
                  li Documentation technique (APIs internes)

              +workExperience(works.microsoft)
                ul
                  li Identification et correction des problèmes de compatibilité
                  li Documentation technique des stratégies d’interception d’appels
                  li PSS : Support aux développeurs Kernel/Base (catégories d’interfaces Win32)

              +workExperience(works.srtelecom)
                ul
                  li Conception d’une plateforme de télécommunications
                  li Conception et réalisation d’un système de gestion de réseaux en C++
                  li Optimisation du serveur de communications
                  li Amélioration du sous-système de communication du SR-500 (doté d'un système d’exploitation embarqué et propriétaire)
                  li Développement d’un panneau de contrôle en C++/MFC
                  li Réalisation des tests du client (sous-système de distribution)

              +workExperience(works.lansertech)
                p Optimisation d’un logiciel de conversion de protocoles de gestion de réseaux de communication (passerelle logicielle, proxy agent)

              +workExperience(works.nbstech)
                p Développement de terminaux de points de vente, systèmes embarqués
                ul
                  li Conception et réalisation d’un réseau maître/esclave en C
                  li Développement d’un système de gestion de réseau de terminaux en C++
                  li Maintenance du système de gestion de première génération
                  li Évaluation de librairies de développement graphique multi-plate-forme
                  li Conception et réalisation d’une librairie de classes (OOP) pour les communications client/serveur
                  li Transfert du système d’exploitation et des applications

              +workExperience(works.stejustine)
                p Conception, réalisation et optimisation d’un programme de visualisation 3-D de la colonne vertébrale en mouvement

  .row
    .col-md-6
      .panel.panel-primary#references
        .panel-heading
          h2.panel-title Références :
        .panel-body
          p Disponibles sur demande
