mixin timestamp
  //- This div will be pushed down, preventing the content from overlapping with the navbar
  //- why not just?  { padding-top: 40px; }
  div(style='border: 2px solid red')
    p= i18n.lng()
    p= moment().format('LLLL')


mixin contactInfo(ci)
  //-label !{JSON.stringify(ci)}
  section.panel.panel-primary(id=ci.sectionid)
    .panel-heading
      h2.panel-title= i18n.t(ci.title)
    .panel-body
      table(width="100%")
        tr: td(colspan=2).name-row= ci.name
        tr: td(colspan=2).title-row= i18n.t(ci.mainworktitle)
        tr: td(colspan=2): hr
        tr
          td.btn.disabled
            .glyphicon.glyphicon-2x.glyphicon-home
          td= i18n.t(ci.location)
        tr
          td.btn.disabled
            .glyphicon.glyphicon-2x.glyphicon-envelope
          td: a(href="mailto:#{ci.mail}")=  ci.mail
        tr
          td.btn.disabled
            .glyphicon.glyphicon-2x.glyphicon-envelope
          td: a(href="mailto:#{altmail}")=  ci.altmail
        tr
          td.btn.disabled
            .glyphicon.glyphicon-2x.glyphicon-phone
          td= ci.phone
        tr: td(colspan=2): hr
        tr: td(colspan=2)
          div
            a.btn(href="http://twitter.com/idkez")
              i.fa-icon.fa-icon-twitter.fa-icon-2x
            a.btn(href="#{ci.linkedin.href}")
              i.fa-icon.fa-icon-linkedin.fa-icon-2x
            //-a.btn(href="#{ci.facebook.href}")
              i.fa-icon.fa-icon-facebook.fa-icon-2x
            a.btn(href="#{ci.googleplus.href}", rel="publisher")
              i.fa-icon.fa-icon-google-plus.fa-icon-2x
            a.btn(href="#{ci.github.href}")
              i.fa-icon.fa-icon-github.fa-icon-2x
            a.btn(href="#{ci.skype.href}")
              i.fa-icon.fa-icon-skype.fa-icon-2x
    //-.panel-footer

mixin technicalSkills(ts)
  //-p!= nodedump(jade)
  //-p!= nodedump(jade_debug)
  //-p!= nodedump(locals)
  //-p!= nodedump(this)
  //-p!= nodedump(jade2)

  section.panel.panel-primary(id=ts.sectionid)
    .panel-heading
      h2.panel-title= ts.title
    .panel-body
      table.table.align-right
        tbody
          each skill in ts.skills
            tr
              td= skill.name
              //- Render skill.jade template here!
              if skill.content
                td= skill.content
              if skill.jade
                td!= jade2.render(skill.jade)
